@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

/* default background styles */
body {
    background:#0075A2;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #FFF;
    font-family:"Poppins", Poppins, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

/* title styles */
title {
    color: #5EA4BF;
    background-color: #7111B4;
}

/*h1 styles */
h1 {
    color:#FFFFFF;
    background-color:#5EA4BF;
    font-family: 'Cinzel', Cinzel, 'Times New Roman', Times, serif;
    font-weight: 600;
    line-height: 1.3;
}
/* h1 styles for first letter */
h1::first-letter {
    font-size: 200%;
    color: #FF0064;
    background-color:#5EA4BF;
}

/* h2 styles */
h2 {
    color:#FFFFFF;
    font-family:"Poppins", Poppins, 'Arial Narrow', Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.3;
    background-color: #FF0064;
}

/* h3 styles */

h3 {
    color:#FFFFFF;
    font-family:"Poppins", Poppins, 'Arial Narrow', Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.3;
    background-color: #0075A2;
}

/* aside - covid message styling */
aside {
    color:#FF0064;
    font-family:"Poppins", Poppins, 'Arial Narrow', Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.3;
    background-color: #5EA4BF;
}

/* paragraph styling */
p {
    color:#FFFFFF;
    background-color: #5EA4BF;
}

/* 
p.index {color: }

p.tickets {color:}

p.explore {color:;}

p.menu {color:}
*/


/*=======================================*/
/*========== Index page styles ==========*/
/*=======================================*/

.pink {
    background-color: #FF0064;
}

.dark-blue {
    background-color: #0075A2;
}

.light-blue {
    background-color: #5EA4BF;
}

.purple {
    background-color: #7111B4;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.cinzel {
    font-family: 'Cinzel', serif;
}

/*=======================================*/
/*======== END Index page styles ========*/
/*=======================================*/


/*Ticket Page styles*/
.tp a {
    color:#FFFFFF;
    font-family:"Poppins", Poppins, 'Arial Narrow', Arial, Helvetica, sans-serif;

}

.tp input[type = submit] {
    background-color: #7111B4;
    color:#FFFFFF;
}