@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

/* default background styles */
body {
    background:#0075A2;
    color: #FFF;
    font-family:"Poppins", Poppins, Arial, sans-serif;
    font-size: 16px;
    margin: 0rem auto -1rem auto;
    padding: 0rem;
}

/* default main styles */
main {
    position: relative;
    font-size: 16px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* title styles */
title {
    color: #5EA4BF;
    background-color: #7111B4;
}

/*h1 styles */
h1 {
    color:#FFFFFF;
    background-color:#5EA4BF;
    font-family: 'Cinzel', Cinzel, 'Times New Roman', Times, serif;
    font-weight: 600;
    line-height: 1.3;
}
/* h1 styles for first letter */
h1::first-letter {
    font-size: 200%;
    color: #FF0064;
    background-color:#5EA4BF;
}

/* h2 styles */
h2 {
    color:#FFFFFF;
    font-family:"Poppins", Poppins, 'Arial Narrow', Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.3;
    background-color: #FF0064;
}

/* h3 styles */
h3 {
    color:#FFFFFF;
    font-family:"Poppins", Poppins, 'Arial Narrow', Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.3;
    background-color: #7111B4;
}

/* h4 styles */
h4 {
    color: #FFFFFF;
    background-color:#5EA4BF;
}

/* aside - covid message styling */
aside {
    color:#FF0064;
    font-family:"Poppins", Poppins, 'Arial Narrow', Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.3;
    background-color: #5EA4BF;
}

/* paragraph styling */
p {
    color:#FFFFFF;
    background-color: #5EA4BF;
}

/* 
p.index {color: }

p.tickets {color:}

p.explore {color:;}

p.menu {color:}
*/

/*=======================================*/
/*============ Navbar styles ============*/
/*=======================================*/

.info-bar {
    width: 100%;
    background-color: #FF0064;
    height: 2rem;
    text-align: center;
    position: fixed;
    z-index: 5000;
}

.info-bar h3 {
    background-color: transparent;
    margin-top: 0rem;
    margin-bottom: 0rem;
    line-height: 2rem;
}

.info-bar h3 img {
    width: 20px;
    margin-top: 6px;
}

.nav-bar {
    position: fixed;
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    box-shadow: 0rem 0.2rem 1rem black;
    z-index: 5000;
    background-color: #0075A2;
}

.nav-bar header {
    top: -2rem;
    left: 1rem;
    position: absolute;
    z-index: 1000;
}

.nav-bar header object {
    width: 220px;
}

.nav-bar ul {
    list-style: none;
    padding-right: 25%;
    margin-top: 0rem;
}

.nav-bar ul li {
    text-align: center;
    float: right;
    width: 9rem;
}

.nav-bar ul li:hover {
    background-color: rgba(255,255,255,0.5);
}

.nav-bar ul li a {
    color: white;
    text-decoration: none;
    line-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul li.active, .nav-bar ul li.active a {
    background-color: white;
    color: #0075A2 !important;
}

@media only screen and (max-width: 800px) {
    .info-bar {
        text-align: right;
    }
    
    .info-bar h3 {
        font-size: 1rem;
    }

    .info-bar h3 img {
        width: 1rem;
    }

    .nav-bar header object {
        width: 10rem;
    }

    .nav-bar ul {
        padding-right: 0rem;
    }
    
    .nav-bar ul li {
        width: 5rem;
    }

    .nav-bar ul li a {
        font-size: 1rem;
    }
    
    .nav-bar ul li.active, .nav-bar ul li.active a {
        background-color: white;
        color: #0075A2 !important;
    }
}



/*=======================================*/
/*========== END Navbar styles ==========*/
/*=======================================*/

/*=======================================*/
/*============ Footer styles ============*/
/*=======================================*/

.social-links {
    text-align: center;
}

.social-links a {
    text-decoration: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.sitemap {
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.sitemap div {
    display: inline-block;
    text-align: center;
    width: 33%;
}

.sitemap div ul {
    padding: 0rem;
    width: 100%;
}

.sitemap div ul li a {
    color: black;
    text-decoration: none;
}

.sitemap div ul li a:hover {
    color: blue;
    text-decoration: underline;
}

.service-menu {
    text-align: center;
}

.service-menu ul {
    padding: 0rem;
    text-align: center;
    margin-top: -1rem;
    background-color: #5EA4BF;
    height: 3rem;
}

.service-menu ul li {
    width: 10rem;
    display: inline-block;
    line-height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.service-menu ul li a {
    color: white;
    text-decoration: none;
}

.service-menu ul li a:hover {
    color: blue;
}

.service-menu p {
    color: black;
    background-color: white;
    margin-top: -1rem;
    height: 2rem;
    line-height: 2rem;
}

@media only screen and (max-width: 800px) {
    .footer-information {
        margin-top: -2rem;
    }

    .sitemap div {
        width: 32.8%;
    }

    .service-menu ul {
        margin-bottom: 0rem;
    }

    .service-menu ul li:first-child {
        width: 30%;
    }

    .service-menu ul li {
        font-size: 0.75rem;
        width: 20%;
    }

    .service-menu p {

        margin-top: 0rem;
    }
}

/*=======================================*/
/*========== END Footer styles ==========*/
/*=======================================*/

/*=======================================*/
/*========== Index page styles ==========*/
/*=======================================*/

/* General home page styles */
.hoButton {
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}

.hoButton:hover {
    padding: 1.2rem 1.8rem;
    box-shadow: 0rem 0.2rem 1rem black;
}

@media only screen and (max-width: 800px) {
    .hoButton {
        padding: 0.5rem 0rem;
        border-radius: 0rem;
        width: 80%;
        text-align: center;
    }
    .hoButton:hover {
        padding: 0.5rem 0rem;
        box-shadow: none;
    }
}

/* END General home page styles */

/* Styles for the main hero image content */
.hoMain {
    position: relative;
    margin-bottom: 0rem;
}

.hoMain .hoContent {
    position: absolute;
    left: 10%;
}

.hoMain img {
    width: 100%;
}

.hoMainTitle {
    top: 7rem;
    font-family: 'Cinzel', serif;
    background-color: transparent;
}

.hoMainTitle::first-letter {
    background-color: transparent;
}

.hoMainBlurb {
    top: 13rem;
    max-width: 80%;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    text-shadow: 0rem 0rem 0.3rem black;
}

.hoMainBlurb mark {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff; 
    display: inline;
    padding: 0.05rem 0.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.hoMainCTA {
    bottom: 3rem;
    font-family: 'Poppins', sans-serif;
    background-color: #FF0064;
    color: white;
}

@media only screen and (max-width: 800px) {

    .hoMain .hoContent {
        position: absolute;
        text-align: center;
    }

    .hoMainTitle {
        top: 13vw;
        width: 80%;
    }

    .hoMainBlurb {
        font-size: 2.2vw;
        top: 30vw;
        width: 100%;
        text-align: center;
    }

    .hoMainCTA {
        position: absolute;
        bottom: 0.5rem;
    }
}

/* END Styles for the main hero image content */

/* Styles for the COVID-19 message */

.hoAlert {
    position: relative;
}

.hoAlert div {
    width: 75%;
    font-weight: normal;
    color: white;
    padding: 0.5rem 1rem;
    margin-top: -0.5rem;
    font-size: 0.7rem;
}

.hoAlert h4 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.4rem;
}

.hoAlertMore {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: inline;
    color: #5EA4BF;
    background-color: white;
}

.hoAlertMore:hover {
    color: #5EA4BF;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .hoAlertMore {
        position: absolute;
        top: 0rem;
        right: 0rem;
        height: 100%;
        width: 6rem;        
        line-height: 1.5rem;
    }

    .hoAlertMore span {
        display: block;
        font-size: 3rem;
    }
}

/* END Styles for the COVID-19 message */

/* Styles for the popular rides sections */

.hoPopRide {
    margin: 0rem;
    position: relative;
    margin-top: -0.5rem;
}

.hoPopRide img {
    width: 100%;
}

.hoPopRide .hoContent {
    position: absolute;
}

.hoPopRide .hoContent.left {
    left: 10%;
}

.hoPopRide .hoContent.right {
    right: 10%;
}

.hoPopRideTitle {
    top: 1rem;
    font-family: 'Cinzel', serif;
    background-color: transparent;
}

.hoPopRideBlurb {
    top: 5rem;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    width: 40%;
}

.hoPopRideBlurb mark {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff; 
    display: inline;
    padding: 0.05rem 0.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.hoPopRideCTA {
    bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    background-color: #7111B4;
    color: white;
}

.hoPopRideTitle.hoContent.right {
    right: 14rem;
}

.hoPopRideCTA.hoButton.hoContent.right {
    right: 16rem;
}

@media only screen and (max-width: 800px) {
    
    .hoPopRideTitle {
        top: 0.1vw;
        width: 80%;
        text-align: center;
    }

    .hoPopRideBlurb {
        top: 10vw;
        font-size: 2.2vw;
        text-align: center;
        width: 80%;
    }

    .popRide2 {
        display: none;
    }

    .popRide3 {
        top: -2.1rem;
    }

    .hoPopRideTitle.hoContent.right {
        right: 10%;
    }
    
    .hoPopRideCTA.hoButton.hoContent.right {
        right: 10%;
    }
}

/* END Styles for the popular rides sections */

/* Styles for the offers sections */

.hoOffer {
    width: 30%;
    max-width: 270px;
    z-index: 100;
    position: absolute;
    transform: translate(0rem, -7rem);
    text-align: center;
    padding: 1rem 1rem 2rem 1rem;
    height: 13rem;
    border-radius: 1rem;
    box-shadow: 0rem 0.2rem 1rem black;
}

.hoOffer.right {
    right: 2rem;
}

.hoOffer.left {
    left: 2rem;
}

.hoOffer, .hoOfferTitle {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
}

.hoOfferButton {
    position: absolute;
    bottom: 1rem;
    right: 3rem;
}

@media only screen and (max-width: 800px) {
    .hoOffer {
        transform: translate(-2.5rem, -1.6rem);
        position: static;
        width: 100%;
        max-width: 100%;
        z-index: 100;
        text-align: center;
        padding: 1rem 0rem;
        height: auto;
        border-radius: 0rem;
        box-shadow: none;
    }


    .hoOffer .hoOfferTitle {
        margin-top: 0rem;
    }

    .hoOffer figcaption {
        margin-bottom: 1rem;
    }

    .hoOfferButton {
        position: static;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .hoOfferButton:hover {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

/* END Styles for the offers sections */

/*=======================================*/
/*======== END Index page styles ========*/
/*=======================================*/


/*===================================*/
/*==== START TICKETS page styles ====*/
/*===================================*/

/*Links within tp class (on Ticket Page)*/
.tp a {
    color:#FFFFFF;
    font-family:"Poppins", Poppins, 'Arial Narrow', Arial, Helvetica, sans-serif;

}

/*h1 tags with a tp class*/
h1.tp {
    display: block;
    width : 100%;
    text-align: center;
    padding : 0.5rem;
    font-size: 1.5rem;
}

/*--------------------------*/
/*Ticket Type Area Start CSS*/

/*ticket type divs and h1 classes for grid layout*/
.ticketType1 {
    grid-area: tType1;   
}
.ticketType2 {
    grid-area: tType2;
}
.ticketType3 {
    grid-area: tType3;
}
.ticketTypes h1 {
    grid-area: tTypeHead;
}

/*links with BuyNow class*/
a.BuyNow {
    text-align : center;
    width : 100%;
    display : block;
    margin : 0px auto;
}

/*ticketTypes class (the container for all ticket type divs)*/
.ticketTypes {
    display: grid;
    grid-template-areas: 
        'tTypeHead tTypeHead tTypeHead'
        'tType1 tType2 tType3';
    grid-column-gap: 20px;
}


/*divs with tType class (ticket type)*/
div.tType {
    width : 96%;
    border: 2px solid white; 
    margin : 0px calc(4% - 4px);
    padding : 0px 2% 2%;
}

/*p tags within cost class*/
.cost p {
    text-align: center;
    font-size: 2rem;
    margin : 0.5rem;
    background-color: #7111B4;
}

/*Images within tType class (Ticket type images)*/
.tType img {
    width : 100%;
    max-width : 350px;
    
}

/*Ticket Type Area End CSS*/
/*------------------------*/


/*----------------------------*/
/*Special Offer Area Start CSS*/

/*SpecOff class (the divs containing all the special offers)*/
.SpecOff {
    width : calc(100% - 32px);
/*    display : block;*/
    border: 8px solid #7111B4;
    background-color: #5EA4BF;
    margin : 1rem 0px;
    padding : 0px 1rem;
}

/*image and decsription classes for grid positioning*/
.lImg {
    grid-area: soImg;
}
.rImg {
    grid-area: soImg;
}
.specialOfferDesc {
    grid-area: soDesc;
}

/*Grid areas for left or right image*/
.LeftImage{
    display: grid;
    grid-template-areas: 'soImg soDesc soDesc soDesc';
    grid-column-gap: 20px;
}
.RightImage {
    display: grid;
    grid-template-areas: 
        'soDesc soDesc soDesc soImg';
    grid-column-gap: 20px;
}


.lImg, .rImg {
    height: 120px;
    margin : auto;
}


/*Images within SpecOffer class (Special Offer Images)*/
.SpecOff img {
    max-width: 100%;
    max-height: 100%;
    height : 100%;
}

/*Special Offer Area End CSS*/
/*--------------------------*/


/*----------------------*/
/*Buy Now Area Start CSS*/

/*form areas for grid positioning*/
form.tp label[for = adults] {
    grid-area: adultsL;
    text-align: right;
}
form.tp input[id = adults] {
    grid-area: adultsI;
}
form.tp label[for = children] {
    grid-area: kidsL;
    text-align: right;
}
form.tp input[id = children] {
    grid-area: kidsI;
}
form.tp label[for = ticketTypeBuy] {
    grid-area: TTypeBuyL;
    text-align: right;
}
form.tp input[id = ticketTypeBuy] {
    grid-area: TTypeBuyI;
}
form.tp label[for = date] {
    grid-area: dateL;
    text-align: right;
}
form.tp input[id = date] {
    grid-area: dateI;
}
form.tp input[type = submit] {
    grid-area: submit;
}

/*grid area for form*/
form.tp {
    display: grid;
    grid-template-areas: 
        'adultsL adultsI kidsL kidsI'
        'TTypeBuyL TTypeBuyI dateL dateI'
        'submit submit submit submit';
    grid-gap: 20px;
}

/*Submit input within tp class (on Ticket Page)*/
.tp input[type = submit] {
    background-color : #7111B4;
    color : #FFFFFF;
    margin-bottom : 20px;
    font-size : 2rem;
}

.tp input[type = submit]:hover {
    font-size : 2.5rem;
    color : #7111B4;
    background-color : #FFFFFF;
}

/*Buy Now Area End CSS*/
/*--------------------*/

/*=================================*/
/*==== END TICKETS page styles ====*/
/*=================================*/


/*=========================================*/
/*==== START EXPLORE [ex*] page styles ====*/
/*=========================================*/

/* trying out css selectors, apologies if you suddenly have unexplained styling. 
It's maybe more risky than defining each class and applying a style to it, but it 
might help to show we have a good understanding of course content (certainly it's helping me at any rate!) - A */

/*
[class*="ex"] 
:not(h3) :not(h4)
 {
    background-color: #7111B4;
    color: rgb(43, 255, 0);

}
.main
{
    background-color: coral;
}
main.ex h3 {
    background-color: greenyellow;
}

main.ex h4 {
    background-color: hotpink;
}

*/
/*=========================================*/
/*== END EXPLORE [ex*] class page styles ==*/
/*=========================================*/



/* trying out some colors for links - have to be slightly different from the 
main colour scheme so that they contrast in all situations, 
just picked some random slightly lighter/darker versions to keep in style - A */
::selection {
    background-color: #FFFFFF;  
}

/*Commented out for now as it affect the look in tickets page - we can discuss on Sunday*/
a:visited {
/*    color: #420270;*/
}
a:link {
    color: #FFFFFF;
}

a:hover {
    color: #7bdaff;
}


