@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

/* default background styles */
body {
    background:#0075A2;
    color: #FFF;
    font-family:"Poppins", Poppins, Arial, sans-serif;
    font-size: 16px;
    margin: 0rem auto -1rem auto;
    padding: 0rem;
}

/* default main styles */
main {
    position: relative;
    font-size: 16px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* title styles */
title {
    color: #5EA4BF;
    background-color: #7111B4;
}

/*h1 styles */
h1 {
    color:#FFFFFF;
    background-color:#5EA4BF;
    font-family: 'Cinzel', Cinzel, 'Times New Roman', Times, serif;
    font-weight: 600;
    line-height: 1.3;
}
/* h1 styles for first letter */
h1::first-letter {
    font-size: 200%;
    color: #FF0064;
    background-color:#5EA4BF;
}

/* h2 styles */
h2 {
    color:#FFFFFF;
    font-family:"Poppins", Poppins, 'Arial Narrow', Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.3;
    background-color: #FF0064;
}

/* h3 styles */
h3 {
    color:#FFFFFF;
    font-family:"Poppins", Poppins, 'Arial Narrow', Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.3;
    background-color: #7111B4;
}

/* h4 styles */
h4 {
    color: #FFFFFF;
    background-color:#5EA4BF;
}

/* aside - covid message styling */
aside {
    color:#FF0064;
    font-family:"Poppins", Poppins, 'Arial Narrow', Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.3;
    background-color: #5EA4BF;
}

/* paragraph styling */
p {
    color:#FFFFFF;
    background-color: #5EA4BF;
}

/* 
p.index {color: }

p.tickets {color:}

p.explore {color:;}

p.menu {color:}
*/

/*=======================================*/
/*============ Navbar styles ============*/
/*=======================================*/

.info-bar {
    width: 100%;
    background-color: #FF0064;
    height: 2rem;
    text-align: center;
    position: fixed;
    z-index: 5000;
}

.info-bar h3 {
    background-color: transparent;
    margin-top: 0rem;
    margin-bottom: 0rem;
    line-height: 2rem;
}

.info-bar h3 img {
    width: 20px;
    margin-top: 6px;
}

.nav-bar {
    position: fixed;
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    box-shadow: 0rem 0.2rem 1rem black;
    z-index: 5000;
    background-color: #0075A2;
}

.nav-bar header {
    top: -2rem;
    left: 1rem;
    position: absolute;
    z-index: 1000;
}

.nav-bar header object {
    width: 220px;
}

.nav-bar ul {
    list-style: none;
    padding-right: 25%;
    margin-top: 0rem;
}

.nav-bar ul li {
    text-align: center;
    float: right;
    width: 9rem;
}

.nav-bar ul li:hover {
    background-color: rgba(255,255,255,0.5);
}

.nav-bar ul li a {
    color: white;
    text-decoration: none;
    line-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul li.active, .nav-bar ul li.active a {
    background-color: white;
    color: #0075A2 !important;
}

@media only screen and (max-width: 800px) {
    .info-bar {
        text-align: right;
    }
    
    .info-bar h3 {
        font-size: 1rem;
    }

    .info-bar h3 img {
        width: 1rem;
    }

    .nav-bar header object {
        width: 10rem;
    }

    .nav-bar ul {
        padding-right: 0rem;
    }
    
    .nav-bar ul li {
        width: 5rem;
    }

    .nav-bar ul li a {
        font-size: 1rem;
    }
    
    .nav-bar ul li.active, .nav-bar ul li.active a {
        background-color: white;
        color: #0075A2 !important;
    }
}



/*=======================================*/
/*========== END Navbar styles ==========*/
/*=======================================*/

/*=======================================*/
/*============ Footer styles ============*/
/*=======================================*/

.social-links {
    text-align: center;
}

.social-links a {
    text-decoration: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.sitemap {
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.sitemap div {
    display: inline-block;
    text-align: center;
    width: 33%;
}

.sitemap div ul {
    padding: 0rem;
    width: 100%;
}

.sitemap div ul li a {
    color: black;
    text-decoration: none;
}

.sitemap div ul li a:hover {
    color: blue;
    text-decoration: underline;
}

.service-menu {
    text-align: center;
}

.service-menu ul {
    padding: 0rem;
    text-align: center;
    margin-top: -1rem;
    background-color: #5EA4BF;
    height: 3rem;
}

.service-menu ul li {
    width: 10rem;
    display: inline-block;
    line-height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.service-menu ul li a {
    text-decoration: none;
}

.service-menu p {
    color: black;
    background-color: white;
    margin-top: -1rem;
    height: 2rem;
    line-height: 2rem;
}

@media only screen and (max-width: 800px) {
    .sitemap div {
        width: 32.8%;
    }
}

/*=======================================*/
/*========== END Footer styles ==========*/
/*=======================================*/

/*=======================================*/
/*========== Index page styles ==========*/
/*=======================================*/

/* General home page styles */
.hoButton {
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}

.hoButton:hover {
    padding: 1.2rem 1.8rem;
    box-shadow: 0rem 0.2rem 1rem black;
}

@media only screen and (max-width: 800px) {
    .hoButton {
        padding: 0.5rem 0.7rem;
    }

    .hoButton:hover {
        padding: 0.6rem 0.84rem;
    }
}

/* END General home page styles */

/* Styles for the main hero image content */
.hoMain {
    position: relative;
    margin-bottom: 0rem;
}

.hoMain .hoContent {
    position: absolute;
    left: 10%;
}

.hoMain img{
    width: 100%;
}

.hoMainTitle {
    top: 5rem;
    font-family: 'Cinzel', serif;
    background-color: transparent;
}

.hoMainTitle::first-letter {
    background-color: transparent;
}

.hoMainBlurb {
    top: 10rem;
    max-width: 80%;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    text-shadow: 0rem 0rem 0.3rem black;
    
}

.hoMainCTA {
    bottom: 3rem;
    font-family: 'Poppins', sans-serif;
    background-color: #FF0064;
    color: white;
}

@media only screen and (max-width: 800px) {
    .hoMainBlurb {
        position: absolute;
        text-align: right;
        width: 40%;
        right: 1rem;
    }
}

/* END Styles for the main hero image content */

/* Styles for the COVID-19 message */

.hoAlert {
    position: relative;
}

.hoAlert div {
    width: 75%;
    font-weight: normal;
    color: white;
    padding: 0.5rem 1rem;
    margin-top: -0.5rem;
    font-size: 0.7rem;
}

.hoAlert h4 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.4rem;
}

.hoAlertMore {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: inline;
    color: #5EA4BF;
    background-color: white;
}

.hoAlertMore:hover {
    color: #5EA4BF;
    cursor: pointer;
}

/* END Styles for the COVID-19 message */

/* Styles for the popular rides sections */

.hoPopRide {
    margin: 0rem;
    position: relative;
    margin-top: -0.5rem;
}

.hoPopRide img {
    width: 100%;
}

.hoPopRide .hoContent {
    position: absolute;
}

.hoPopRide .hoContent.left {
    left: 10%;
}

.hoPopRide .hoContent.right {
    right: 10%;
}

.hoPopRideTitle {
    top: 1rem;
    font-family: 'Cinzel', serif;
    background-color: transparent;
}

.hoPopRideBlurb {
    top: 5rem;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    width: 40%;
}

.hoPopRideCTA {
    bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    background-color: #7111B4;
    color: white;
}

.hoOffer, .hoOfferTitle {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
}

.hoPopRideTitle.hoContent.right {
    right: 14rem;
}

.hoPopRideCTA.hoButton.hoContent.right {
    right: 16rem;
}

/* END Styles for the popular rides sections */

/* Styles for the offers sections */

.hoOffer {
    width: 30%;
    max-width: 270px;
    z-index: 100;
    position: absolute;
    transform: translate(0rem, -7rem);
    text-align: center;
    padding: 1rem 1rem 2rem 1rem;
    height: 13rem;
    border-radius: 1rem;
    box-shadow: 0rem 0.2rem 1rem black;
}

.hoOffer.right {
    right: 2rem;
}

.hoOffer.left {
    left: 2rem;
}

.hoOfferButton {
    position: absolute;
    bottom: 1rem;
    right: 3rem;
}

/* END Styles for the offers sections */

/*=======================================*/
/*======== END Index page styles ========*/
/*=======================================*/


/*===================================*/
/*==== START TICKETS page styles ====*/
/*===================================*/

/*Links within tp class (on Ticket Page)*/
.tp a {
    color:#FFFFFF;
    font-family:"Poppins", Poppins, 'Arial Narrow', Arial, Helvetica, sans-serif;

}

/*h1 tags with a tp class*/
h1.tp {
    display: block;
    width : 100%;
    text-align: center;
    padding : 0.5rem;
    font-size: 1.5rem;
}

/*--------------------------*/
/*Ticket Type Area Start CSS*/

/*ticket type divs and h1 classes for grid layout*/
.ticketType1 {
    grid-area: tType1;   
}
.ticketType2 {
    grid-area: tType2;
}
.ticketType3 {
    grid-area: tType3;
}
.ticketTypes h1 {
    grid-area: tTypeHead;
}

/*links with BuyNow class*/
a.BuyNow {
    text-align : center;
    width : 100%;
    display : block;
    margin : 0px auto;
}

/*ticketTypes class (the container for all ticket type divs)*/
.ticketTypes {
    display: grid;
    grid-template-areas: 
        'tTypeHead tTypeHead tTypeHead'
        'tType1 tType2 tType3';
    grid-column-gap: 20px;
}


/*divs with tType class (ticket type)*/
div.tType {
    width : 96%;
    border: 2px solid white; 
    margin : 0px calc(4% - 4px);
    padding : 0px 2% 2%;
}

/*p tags within cost class*/
.cost p {
    text-align: center;
    font-size: 2rem;
    margin : 0.5rem;
    background-color: #7111B4;
}

/*Images within tType class (Ticket type images)*/
.tType img {
    width : 100%;
    max-width : 350px;
    
}

/*Ticket Type Area End CSS*/
/*------------------------*/


/*----------------------------*/
/*Special Offer Area Start CSS*/

/*SpecOff class (the divs containing all the special offers)*/
.SpecOff {
    width : calc(100% - 32px);
/*    display : block;*/
    border: 8px solid #7111B4;
    background-color: #5EA4BF;
    margin : 1rem 0px;
    padding : 0px 1rem;
}

/*image and decsription classes for grid positioning*/
.lImg {
    grid-area: soImg;
}
.rImg {
    grid-area: soImg;
}
.specialOfferDesc {
    grid-area: soDesc;
}

/*Grid areas for left or right image*/
.LeftImage{
    display: grid;
    grid-template-areas: 'soImg soDesc soDesc soDesc';
    grid-column-gap: 20px;
}
.RightImage {
    display: grid;
    grid-template-areas: 
        'soDesc soDesc soDesc soImg';
    grid-column-gap: 20px;
}


.lImg, .rImg {
    height: 120px;
    margin : auto;
}


/*Images within SpecOffer class (Special Offer Images)*/
.SpecOff img {
    max-width: 100%;
    max-height: 100%;
    height : 100%;
}

/*Special Offer Area End CSS*/
/*--------------------------*/


/*----------------------*/
/*Buy Now Area Start CSS*/

/*form areas for grid positioning*/
form.tp label[for = adults] {
    grid-area: adultsL;
    text-align: right;
}
form.tp input[id = adults] {
    grid-area: adultsI;
}
form.tp label[for = children] {
    grid-area: kidsL;
    text-align: right;
}
form.tp input[id = children] {
    grid-area: kidsI;
}
form.tp label[for = ticketTypeBuy] {
    grid-area: TTypeBuyL;
    text-align: right;
}
form.tp input[id = ticketTypeBuy] {
    grid-area: TTypeBuyI;
}
form.tp label[for = date] {
    grid-area: dateL;
    text-align: right;
}
form.tp input[id = date] {
    grid-area: dateI;
}
form.tp input[type = submit] {
    grid-area: submit;
}

/*grid area for form*/
form.tp {
    display: grid;
    grid-template-areas: 
        'adultsL adultsI kidsL kidsI'
        'TTypeBuyL TTypeBuyI dateL dateI'
        'submit submit submit submit';
    grid-gap: 20px;
}

/*Submit input within tp class (on Ticket Page)*/
.tp input[type = submit] {
    background-color : #7111B4;
    color : #FFFFFF;
    margin-bottom : 20px;
    font-size : 2rem;
}

.tp input[type = submit]:hover {
    font-size : 2.5rem;
    color : #7111B4;
    background-color : #FFFFFF;
}

/*Buy Now Area End CSS*/
/*--------------------*/

/*=================================*/
/*==== END TICKETS page styles ====*/
/*=================================*/















/*=========================================*/
/*==== START EXPLORE [ex*] page styles ====*/
/*=========================================*/



/*
[class*="ex"] 
:not(h3) :not(h4)
 {
    background-color: #7111B4;
    color: rgb(43, 255, 0);

*/


/* .ex general page grid */


.exHeaderNav { grid-area: header; }
#exSubNav{grid-area: subnav;}
main.ex{grid-area: main;}
aside.twitter{grid-area: aside;}
#exFooter{grid-area: footer;}


.explore {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas:
      'header header header header header header'
      'subnav subnav subnav subnav subnav subnav'
      'main main main main main main'
      'aside aside aside aside aside aside'
      'footer footer footer footer footer footer';
    
  }

/* .ex attraction&events grid */


/* .ex attractions grid */



/* .ex facilities & directions grid */



h1.exLanding {
    position: relative;
    font-size:4rem;
    padding: 2rem;
    margin-top: 8rem;;
    background-color: greenyellow;
    border-radius: 0.5rem;
    
}
h2.exLanding {
    position: relative;
    padding: 2rem;
    border-radius: 0.5rem;
}
#exTitle::first-letter {
    font-size: 3rem;
    color: #ff0064;
    background-color: transparent;
    
}


 main.ex
{
        position: relative;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        
}

#exTitle {
    position: relative;
    font-size:2rem;
    padding: 1rem;
    margin-top: 1rem;
    background-color: transparent;
    background-image: none;
    max-width: 1000px;
    border-radius: 0.5rem;

} 
main.ex h2 {
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 2rem;
}
main.ex h3, main.ex h4, main.ex p {
    padding: 1rem;
    border-radius: 0.5rem;
}

/* main.ex p {
    padding: 0.5rem;
    border-radius: 0.5rem;
} */

body.explore {
    position: relative;
}

body.explore h1 {
    background-image: linear-gradient(to bottom right, #ff0064, coral);
}
body.explore h2 {
    background-image: linear-gradient(to bottom right, #ff0064, coral);
}
 body.explore h3 {
    background-image: linear-gradient(to bottom right, coral, #ff0064);
}



/* .ex tickets buttons on explore page css */
.exTickets {
    padding: 0.2rem;
    border-radius: 0.3rem;
    background-image: linear-gradient(to bottom right, coral, #ff0064);
    color: #ffffff;
}
a:link.exTickets {
    color: #FF0064;
} 
a:hover.exTickets {
    color: #ff0064;
    background-color: white;
    background-image: none;
    border-color: white;
    border-style: solid;
}

/* .ex-page-specific main nav navigation styling */
.exNav {
    position: absolute;
}
div.info-bar h3 {
    background-color: #ff0064;
    background-image: none;
}

/* .ex page sub navigation menu styling */
/* nav.exSubNav-text { grid-area: nav; } */

nav.exSubNav-text{
    /* background-color:#5EA4BF; */
    /* text-align:justify; */
    padding-top: 0rem;
    padding-bottom: 0rem;
}

nav.exSubNav-text ol{

    list-style:none;
    margin-top:55px;
    padding:0rem;
    text-align:center;
    margin-block-start: 3.5rem;
    margin-block-end: 0rem;
    
}

nav.exSubNav-text li{
    display:inline;
    border: 2px solid white;
    border-radius: 0.5rem;
    padding:5px;
    
    
}

nav.exSubNav-text li a {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    text-decoration: none;
    font-variant: normal;
    font-weight: normal;
    font-size: 1em;
    color: white;
    display:inline-block;
    padding:15px; 
}
nav.exSubNav-text li:hover {

    color: white;
    background-image: linear-gradient(to bottom right, #ff0064, coral);
    border-color: white;
    border-style: solid;
}
nav.exSubNav-text li a:hover {
    color: white;
}

/* .ex  attractions */
/* .ex attractions grid layout */



/* .ex new attractions grid */
.exNew1{  grid-column: 1 / 2;
    grid-row: 1;}
.exNew2{  grid-column: 2 / 3;
    grid-row: 1;}
.exNew3{  grid-column: 3 / 4;
    grid-row: 1;}
.exNew4{  grid-column: 4 / 5;
    grid-row: 1;}



.exNewAttList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    padding: 1rem

  }

#exploreAttractionsMap ul {
    list-style-type: none;
}

.exNew1 {
    background-color: #ffffff;
    border-radius: 0.5rem;
    border: 2px solid white;
    align-content: center;

    background-image: linear-gradient(to bottom right, rgba(255, 190, 115, 0.99), rgba(255, 168, 7, 0.3)), 
    url("../images/derek-thomson-vY86Rq8cfjQ-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.exNew2{
    background-color: #ffffff;
    border-radius: 0.5rem;
    border: 2px solid white;
    align-content: center;

    background-image: linear-gradient(to bottom right, rgba(255, 190, 115, 0.99), rgba(255, 168, 7, 0.3)), 
    url("../images/kanyon-bollinger-D_W-652G3KE-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.exNew3{
    background-color: #ffffff;
    border-radius: 0.5rem;
    border: 2px solid white;
    align-content: center;

    background-image: linear-gradient(to bottom right, rgba(255, 190, 115, 0.99), rgba(255, 168, 7, 0.3)), 
    url("../images/lily-banse-4lSxvOV3J3Y-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.exNew4{
    background-color: #ffffff;
    border-radius: 0.5rem;
    border: 2px solid white;
    align-content: center;

    background-image: linear-gradient(to bottom right, rgba(255, 190, 115, 0.99), rgba(255, 168, 7, 0.3)), 
    url("../images/jesse-adair-SANK_xON7Hw-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* .ex Classic Attractions grid */
.exCla1{  grid-column: 1 / 2;
    grid-row: 1;}
.exCla2{  grid-column: 2 / 3;
    grid-row: 1;}
.exCla3{  grid-column: 3 / 4;
    grid-row: 1;}
.exCla4{  grid-column: 4 / 5;
    grid-row: 1;}



.exClaAttList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    padding: 1rem

  }

.exClassicAttractions ul {
    list-style-type: none;
}

.exCla1 {
    background-color: #ffffff;
    border-radius: 0.5rem;
    border: 2px solid white;
    align-content: center;

    background-image: linear-gradient(to bottom right, rgba(255, 148, 115, 0.99), rgba(255, 168, 7, 0.3)), 
    url("../images/MelissaMumArchery.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.exCla2 {
    background-color: #ffffff;
    border-radius: 0.5rem;
    border: 2px solid white;
    align-content: center;

    background-image: linear-gradient(to bottom right, rgba(255, 115, 115, 0.99), rgba(255, 168, 7, 0.3)), 
    url("../images/jerry-wang-kCt8GRWsOhU-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.exCla3 {
    background-color: #ffffff;
    border-radius: 0.5rem;
    border: 2px solid white;
    align-content: center;

    background-image: linear-gradient(to bottom right, rgba(255, 190, 115, 0.99), rgba(255, 168, 7, 0.3)), 
    url("../images/jesse-adair-SANK_xON7Hw-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.exCla4 {
    background-color: #ffffff;
    border-radius: 0.5rem;
    border: 2px solid white;
    align-content: center;

    background-image: linear-gradient(to bottom right, rgba(255, 218, 115, 0.99), rgba(255, 168, 7, 0.3)), 
    url("../images/boris-yue-gowrigaNHrg-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



/* .ex More Attractions grid */
.exCC{  grid-column: 1 / 3;
    grid-row: 1;}
.exAK{  grid-column: 3 / 5;
    grid-row: 1;}
.exMZ{  grid-column: 1 / 3;
    grid-row: 2;}
.exSS{  grid-column: 3 / 5;
    grid-row: 2;}
.exReR{  grid-column: 1 / 3;
        grid-row: 3;}
.exFF{  grid-column: 3 / 5;
        grid-row: 3;}
.exRoR{  grid-column: 1 / 3;
        grid-row: 4;}
.exHT{  grid-column: 3 / 5;
        grid-row: 4;}



.exAllOtherAttractions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    padding: 1rem

  }

.exAllOAtt ul {
    list-style-type: none;
}

.exAllOAtt ul li ul li h5 {
    background-color: #5EA4BF;
    border-radius: 0.5rem;
    padding: 0.3rem;
    padding-left: 0.3rem;
    margin-left: 0rem;

}

.exCC{
    background-color: #7111B4;
    border-radius: 0.5rem;
    border: 2px solid white;
    align-content: center;

    background-image: linear-gradient(to bottom right, rgba(255, 190, 115, 0.99), rgba(255, 168, 7, 0.3)), 
    url("../images/boris-yue-gowrigaNHrg-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.exAK{
    background-color: #7111B4;
    border-radius: 0.5rem;
    border: 2px solid white;
    align-content: center;

    background-image: linear-gradient(to bottom right, rgba(255, 0, 85, 0.99), rgba(255, 7, 19, 0.3)), 
    url("../images/popular-ride-3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.exMZ{
    background-color: #7111B4;
    border-radius: 0.5rem;
    border: 2px solid white;
    align-content: center;

    background-image: linear-gradient(to bottom right, rgba(255, 0, 85, 0.99), rgba(255, 7, 19, 0.3)), 
    url("../images/popular-ride-3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.exSS{
    background-color: #7111B4;
    border-radius: 0.5rem;
    border: 2px solid white;
    align-content: center;

    background-image: linear-gradient(to bottom right, rgba(255, 190, 115, 0.99), rgba(255, 168, 7, 0.3)), 
    url("../images/boris-yue-gowrigaNHrg-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.exReR{
    background-color: #7111B4;
    border-radius: 0.5rem;
    border: 2px solid white;
    align-content: center;

    background-image: linear-gradient(to bottom right, rgba(255, 190, 115, 0.99), rgba(255, 168, 7, 0.3)), 
    url("../images/boris-yue-gowrigaNHrg-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.exFF{
    background-color: #ffc21b;
    border-radius: 0.5rem;
    border: 2px solid white;
    align-content: center;

    background-image: linear-gradient(to bottom right, rgba(255, 0, 85, 0.99), rgba(255, 7, 19, 0.3)), 
    url("../images/popular-ride-3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.exRoR{
    background-color: #7111B4;
    border-radius: 0.5rem;
    border: 2px solid white;
    align-content: center;

    background-image: linear-gradient(to bottom right, rgba(255, 0, 85, 0.99), rgba(255, 7, 19, 0.3)), 
    url("../images/popular-ride-3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.exHT{
    background-color: #ffc21b;
    border-radius: 0.5rem;
    border: 2px solid white;
    align-content: center;
    background-image: linear-gradient(to bottom right, rgba(255, 190, 115, 0.99), rgba(255, 168, 7, 0.3)), 
    url("../images/boris-yue-gowrigaNHrg-unsplash.jpg");

    /* background-image: linear-gradient(to bottom right, rgba(255, 0, 85, 0.99), rgba(255, 7, 19, 0.3)), 
    url("../images/popular-ride-3.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*  */
h2.exMainDisplay {
    margin-bottom: 0rem;
    padding-bottom: 0rem;
}
#exRandAT {
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}
#exClickMapCall {
    background-color: #7111B4;
    background-image: none;
    margin-top: 0rem;
    padding-left: 0.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-right: 0rem;
    border-top-right-radius: 0rem;
    border-top-left-radius: 0rem;

}


.exNewAttractions {

}
#exNewT {

}
.exNewAttList {

    list-style: none;
}
.exNewAttList li{

    background-color: #ff0064;
    border-radius: 0.5rem;
}

.exClassicAttractions {

}
#exClassicT {

}
.exAllOtherAttractions {

}
#exMoreT {

}
.exploreAttractions {
    background-color: #5EA4BF;
    border-radius: 0.5rem;
}
.exploreAttractions p, .exploreAttractions h4 {
    background-color: transparent;
}
/* .ex events */

#Events {
    background-color: #5EA4BF;
    border-radius: 0.5rem;
}
/*  .ex events grid */

.event1{  grid-column: 1 / 3;
    grid-row: 1;}
.event2{  grid-column: 3 / 5;
    grid-row: 1;}
.event3{  grid-column: 1 / 3;
    grid-row: 2;}
.event4{  grid-column: 3 / 5;
    grid-row: 2;}



.exEventsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    padding: 1rem

  }

#Events ol {
    list-style-type: none;
}

.event1, .event2, .event3, .event4{
    background-color: #FF0064;
    border-radius: 0.5rem;
    border: 2px solid white;
    align-content: center;

    background-image: linear-gradient(to bottom right, rgba(255, 0, 85, 0.99), rgba(255, 7, 19, 0.3)), 
    url("../images/popular-ride-3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.event1 h4, .event2 h4, .event3 h4, .event4 h4 {
    background-color: #5EA4BF;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.2rem;
    border-top: 0.5rem;
}
.event1 p, .event2 p, .event3 p, .event4 p {
    background-color: transparent;
}
.event1 img, .event2 img, .event3 img, .event4 img {
    padding:1rem;
    height: 200px;
}

/* .ex facilities css */
.exFacilities {
    background-color: #5EA4BF;
    border-radius: 0.5rem;
}
.exFacilities p {
    background-color: transparent;
}

/* .ex directions css */

.exDirections {
    position:relative;
    background-color: #7111B4;
    border-radius: 0.5rem;
    background-image: url("wls_mlbn-tMqtFzyXiN4-unsplash.jpg");
} 
h3.exDirectionsH3 {
    border-radius: none;
    background-image: none;
}
.exDirections p {
    background-color: transparent;
}
.exDirections address {
    float:left;
    margin: 1rem;
}
.directionsMap {
    position: relative;
    float: right;
    margin: 2rem;

}
/* ,ex socials - twitter aside */
aside.twitter :not(h3) {
    padding-left: 1rem;
}

aside.twitter ul {
    list-style: none;
}

aside.twitter ul li {
    float: left;
    
}
/* .ex footer */

#exFooter {
    padding-top: .5rem;
}
/*=========================================*/
/*== END EXPLORE [ex*] class page styles ==*/
/*=========================================*/



/* trying out some colors for links - have to be slightly different from the 
main colour scheme so that they contrast in all situations, 
just picked some random slightly lighter/darker versions to keep in style - A */
::selection {
    background-color: #FFFFFF;  
}

/*Commented out for now as it affect the look in tickets page - we can discuss on Sunday*/
/* a:visited {
    color: #420270;
} */
a:link {
    color: #FFFFFF;
}

a:hover {
    color: #7bdaff;
}


